*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 300px;
  margin: 60px auto;
}
.main p {
  color: #284a1a;
  font-size:18px;
}
.main span {
  color: red;
  font-size: 26px;
}
.main button {
  width: 50px;
  height: 30px;
  color:  #8a6673;
  background-color: #a5c1c7;
}
